<header>
	<a href="/" id="medschooleu">
		<h1 id="title">Med School EU</h1>
		<img id="banner" src="/assets/gears.jpg" />
		<img id="logo" src="/assets/logo.png" />
	</a>
</header>

<span class="openbtn" onclick="openNav()">&#9776;</span>

<nav>
	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	<a href="/">Home</a>
	<a href="/showcase">Showcase</a>
</nav>
