html, body, * {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: #1a61a0;
}

h2 {
	font-size: 2.2em;
	margin-left: 0;
}

#title {
	font-family: 'Aclonica', sans-serif;
	color: #2874fc;
	position: absolute;
	text-align: center;
	font-size: 3em;
	top: 0.1em;
	text-shadow: 0.05em 0.05em gray;
}

#logo {
	position: absolute;
	top: 14em;
}

header {
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: linear-gradient(#e0e0e0, white);
}

header > .logo {
	flex-grow: 2;
	display: flex;
	flex-direction: column;
}

header > .logo > img {
	max-width: 10em;
	margin-left: 1em;
}

header > .links {
	justify-items: flex-end;
	padding: 2em;
}

#medschooleu {
	display: flex;
	flex-direction: column;
	align-items: center;
}

nav {
	height: 100%;
	width: 0;
	position: fixed;
	top: 0; 
	z-index: 1;
	right: 0;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
	background: linear-gradient(#1c99af, transparent);
}

nav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #111;
	display: block;
	text-align: right;
	transition: 0.3s;
}

nav a:hover {
	color: #f1f1f1;
}

nav .closebtn, .openbtn {
	position: absolute;
	top: 0.4em;
	right: 0.4em;
	font-size: 36px;
	margin-left: 50px;
	cursor: pointer;
}

@media screen and (max-height: 450px) {
	nav {padding-top: 15px;}
	nav a {font-size: 18px;}
}



.content {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	margin: 0 2em;
	margin-top: 5em;
	margin-bottom: 20em;

}

#main {
	display: flex;
	flex-grow: 4;
	align-items: center;
	justify-content: center;
}

#main > * {
	flex: 0 0 30em;
}


#banner {
	height: 20em;
	align-self: center;
}

#footer {
	position: fixed;
	left: 0;
	bottom: 1em;
	width: 100%;
	text-align: center;
	display: flex;
	align-items: end;
	justify-content: center;
}

#quote {
	text-align: center;
	color: #1a61a0;
	font-size: 1.5em;
	font-style: italic;
	margin-top: 2em;
	margin-left: 1em;
}

#footer > img {
	height: 20em;
}

@media only screen and (max-width: 1000px) {
	#main {
		flex-direction: column;
	}
}
